:root {
    --text-gray: #aab8df;
    --bg-dark: #141313;
    --text-white: #fff;
    --bg-button: #423a3ab4;
    --bg-hero: #181818;
    --pink-primary: #9e1eaa;
    --pink-secundary:  #29099d;
    --border-light: #ffffff75;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.header-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: var(--bg-dark);

    .logo {
        height: 60px;
    }

    .navigation {
        display: flex;
        align-items: center;
        gap: 20px;
        list-style: none;

        .item {
            .link {
                color: var(--text-gray);
                text-decoration: none;
                transition: 0.3s;

                &:hover, 
                &.active {
                    color: var(--text-white);
                }
            }

            .call-to-action {
                background-color: var(--bg-button);
                border: 1px solid var(--text-gray);
                color: var(--text-white);
                padding: 5px 10px;
                border-radius: 20px;
                font-size: 12px;
            }
        }
    }
}
.hero {
    background-color: var(--bg-hero);
    padding: 80px 0 15px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .tittle {
        color: var(--text-white);

        .highlight {
            background-image:linear-gradient(to left, var(--pink-primary), var(--pink-secundary));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }
    }

    .description {
        color: var(--text-gray);
        margin-bottom: 25px;
    }

    .search {
        border-radius: 30px;
        padding: 8px 15px;
        background-color: var(--bg-button);
        border: 1px solid var(--border-light);
        color: var(--text-white);
        outline: none;
        transition: 0.2s;

        max-width: 25%;
        width: 100%;

        &:focus, &:hover {
            border-color: var(--pink-primary);
        }
    }
}

.events {
    padding: 30px 0;
    background-color: var(--bg-hero);

    .filter {
        display: flex;
        justify-content: center;

        .filter-list {
            display: flex;
            list-style: none;
            gap: 15px;

            .item {
                padding: 5px 10px;
                border: 1px solid var(--border-light);
                border-radius: 20px;
                font-size: 11px;
                color: var(--text-gray);
                cursor: pointer;
                transition: 0.3s;

                &.active {
                    background-image: linear-gradient(to left, var(--pink-primary), var(--pink-secundary));
                    border-color: var(--pink-primary);
                    color: var(--text-white);
                }

                &:hover {
                    color: var(--text-white);
                    border-color: var(--pink-primary);
                }
            }
        }
    }
}
